
@import '../node_modules/normalize-scss/sass/normalize/_import-now';
@import './typography/fonts';
@import './base/variables';
@import './layout/layout';
@import './pages/about';


.example {
  font-size: $font-size;
}

header {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 24px 0;
  ul {
    margin: 0 auto;
    li {
      font-family: $Druk;
      font-weight: bold;
      font-size: 30px;
      display: inline-block;
      padding: 0 24px;
    }
    a {
      text-decoration: none;
      color: $peach;
    }
  }
}
main {
  padding: 0 48px;
}
.greeting {
  h2,
  p {
    text-align: center;
    color: blue;
  }
}
.about {
  color: red;
  font-size: 24px;
}
.mixwrapper {
  display: flex;
  flex-direction: column;
}
.mix {
  p {
    color: green;
  }
  
}
