.about {
  border-bottom: 1px solid $peach;

  p {
    color: $peach;
    font-size: 24px;
  }
}

.staff-members {
  color: $peach;

  h2 {
    width: 12%;
    border-bottom: 4px solid $peach;
    color: $peach;
    font-family: $druk;
    font-size: 50px;
    font-variant: small-caps;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .staff {
    @extend .column;
    box-sizing: content-box;
    padding: .4rem;

    //margin: 0 12px;
    .s-image {
      width: 100%;
    }

    .s-title {
      font-family: $druk;
      font-size: 1.5rem;
      text-transform: uppercase;
    }


    .name {
      font-family: $optima;
      font-size: 2.5rem;
      margin-top: 12px;
    }
  }
}