.mixes {
  color: $peach;
  margin: 0 24px;

  .title {
    margin: 0 48px;
  }

  h2 {
    font-family: $optima, sans-serif;
    font-weight: 200;
    text-align: left;
  }
  .mix {
    border: 1px 0 solid $peach;

    p {
      font-family: $druk;
      font-size: 50px;
      text-align: center;
      line-height: 1;
      letter-spacing: 0.2em;
      margin: 16px 0;
    }
  }
}
